/*
CSS är specifik till WorkoutInfo.tsx.
Styling av klass medium-container styling texten som ska visas på sidan
*/

.medium-container {
    max-width: 780px;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
